<div class="shift_main">
  <%= params[:date_save] %>
  <div class="shift_set">
    <table class="shift_table">
      <tbody class="shift_table_body">
        <tr class="shift_line">
          <td id="shift_num1" ondragover="onDragOver(event);" ondrop="onDrop(event);"></td>
          <td id="shift_num2" ondragover="onDragOver(event);" ondrop="onDrop(event);"></td>
        </tr>
        <tr class="shift_line">
          <td id="shift_num3" ondragover="onDragOver(event);" ondrop="onDrop(event);"></td>
          <td id="shift_num4" ondragover="onDragOver(event);" ondrop="onDrop(event);"></td>
        </tr>
        <tr class="shift_line">
          <td id="shift_num5" ondragover="onDragOver(event);" ondrop="onDrop(event);"></td>
          <td id="shift_num6" ondragover="onDragOver(event);" ondrop="onDrop(event);"></td>
        </tr>
        <tr class="shift_line">
          <td id="shift_num7" ondragover="onDragOver(event);" ondrop="onDrop(event);"></td>
          <td id="shift_num8" ondragover="onDragOver(event);" ondrop="onDrop(event);"></td>
        </tr>
        <tr class="shift_line">
          <td id="shift_num9" ondragover="onDragOver(event);" ondrop="onDrop(event);"></td>
          <td id="shift_num10" ondragover="onDragOver(event);" ondrop="onDrop(event);"></td>
        </tr>
        <tr class="shift_line">
          <td id="shift_num11" ondragover="onDragOver(event);" ondrop="onDrop(event);"></td>
          <td id="shift_num12" ondragover="onDragOver(event);" ondrop="onDrop(event);"></td>
        </tr>
        <tr class="shift_line">
          <td id="shift_num13" ondragover="onDragOver(event);" ondrop="onDrop(event);"></td>
          <td id="shift_num14" ondragover="onDragOver(event);" ondrop="onDrop(event);"></td>
        </tr>
        <tr class="shift_line">
          <td id="shift_num15" ondragover="onDragOver(event);" ondrop="onDrop(event);"></td>
          <td id="shift_num16" ondragover="onDragOver(event);" ondrop="onDrop(event);"></td>
        </tr>
        <tr class="shift_line">
          <td id="shift_num17" ondragover="onDragOver(event);" ondrop="onDrop(event);"></td>
          <td id="shift_num18" ondragover="onDragOver(event);" ondrop="onDrop(event);"></td>
          </tr>
        <tr class="shift_line">
          <td id="shift_num19"  ondragover="onDragOver(event);" ondrop="onDrop(event);"></td>
          <td id="shift_num20" ondragover="onDragOver(event);" ondrop="onDrop(event);"></td>
        </tr>
      </tbody>
    </table>
    <table>
      <tbody>
        <% @num.each do |day| %>
          <tr>
            <td class="employee">
              <div id="human1" class="employee_name" draggable="true" ondragstart="onDragStart(event);">
                <%= day.name %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<script type="text/javascript">
function onDragStart(event)
{
    const nodes = Array.from(document.querySelectorAll(".employee_name"));
    const index = nodes.findIndex(v=>v===event.target);
    event.dataTransfer.setData('text/plain', index);
}


function onDragOver(event) {
  event.preventDefault();
}

function onDrop(event)
{
    event.preventDefault();
    const index = event.dataTransfer.getData('text');
    const draggableElement = document.querySelectorAll(".employee_name")[index];
    const dropzone = event.currentTarget;
    dropzone.appendChild(draggableElement);
}
</script>